// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
	border : 1px solid red
}

tr {
	border : 1px solid reds
}

th {
	border : 1px solid red
}

.naslov{
	color : red;
}
.naslov{
    font-style: italic;
}
